/* Container holding the image and the text */
.container {
  position: absolute;
  display: grid;
  text-align: center;
  color: white;
}

.containerwp {
  position: absolute;
  display: grid;
  text-align: center;
  color: black;
  bottom: 50px;
  border: 1px solid black;
  padding:20px;
  font-size:12px;
}

/* 2nd team text */
.team1 {
  position: absolute;
  top: 160px;
  left: 50px;
  color: white;
  font-size: 14px;
}

/* 2nd score text */
.score1 {
  position: absolute;
  top: 160px;
  left: 220px;
  color: black;
}

/* top right text */
.league {
  position: absolute;
  top: 40px;
  left: 320px;
  color: black;
}

/* 1st team text */
.team0 {
  position: absolute;
  top: 100px;
  left: 50px;
  color: white;
  font-size: 14px;
}

/* 1st score text */
.score0 {
  position: absolute;
  top: 100px;
  left: 220px;
  color: black;
} 
