/* Container holding the image and the text */
.container {
  position: absolute;
  display: grid;
  text-align: center;
  color: white;
}

.containerwp {
  display: grid;
  text-align: center;
  color: black;
  bottom: 50px;
  padding: 20px;
  font-size: 12px;
  position: relative;
  left: 300px;
}

.scorebrd {
  width:57%;
}

/* 2nd team text */
.team1 {
 position: absolute;
 top: 185px;
 left: 46px;
 color: white;
 font-size: 10px;
 font-family: sans-serif;
 word-wrap: break-word;
}

/* 2nd score text */
.score1 {
  position: absolute;
  top: 180px;
  left: 220px;
  color: black;
}

/* top right text */
.league {
  position: absolute;
  top: 40px;
  left: 360px;
  color: black;
}

/* 1st team text */
.team0 {
  position: absolute;
  top: 115px;
  left: 45px;
  color: white;
  font-size: 10px;
  font-family: sans-serif;
  word-wrap: break-word;
}

/* 1st score text */
.score0 {
  position: absolute;
  top: 110px;
  left: 220px;
  color: black;
} 
